.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}

#header{
  text-align: center;
  padding: 20px;
}

.genInfo{
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.workInfo{
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
}

.workInfo textarea, .genInfo input, .educationInfo input, .workInfo input{
  margin-bottom: 20px;
  margin-left: 3rem;
  width: 20%;
  padding: 10px;
}

.genInfo label, .educationInfo label, .workInfo label{
  margin-left: 3rem;
  font-size: larger;
}

#editWorkInfoBtn, #submitWorkInfoBtn, #editGenInfoBtn, #submitGenInfoBtn, #submitEduInfoBtn, #editEduInfoBtn{
  background-color: greenyellow;
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  margin-left: 3rem;
}

#editWorkInfoBtn, #editGenInfoBtn, #editEduInfoBtn{
  margin-top: 20px;
  margin-left: 0;  
}

.submittedGenInfo, .submittedEduInfo, .submittedWorkInfo{
  margin: 5px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: rgb(247, 244, 244);
  font-size: 30px;
  gap: 20px;
  box-shadow: 6px 6px 3px gray;
  border-radius: 10px;
  padding: 3rem;
}

.educationInfo{
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: aqua;
}

textarea{
  height: 150px;
}

h1,h3{
  padding-bottom:50px;
}

.genInfo, .workInfo, .educationInfo{
  box-shadow: 6px 6px 8px black;
  background-color: rgb(241, 238, 238);
}